/*********** Baseline, reset styles ***********/
template{
    display: flex;
    flex-direction: column;
    position: relative;
}

input[type="number"] {
    width: 20rem;
}

.value{
    position: absolute;
    pointer-events: none;
    left: 44px;
    text-align: center;
    top: 0;
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 20rem;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    border: 1px solid black;
    background-color: white;
    border-radius: 3rem;
    height: 1rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 4rem;
}
/*
input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #808080;
    outline-offset: 0.125rem;
}*/

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: white;
    border-radius: 3rem;
    height: 1rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    background-color: white;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 4rem;
}
/*
input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #808080;
    outline-offset: 0.125rem;
}*/